@import '../../assets/styles/config/base.classes.scss';

.root {
    display: flex;
}

.item,
.active {
    @include flex();
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-navigation-link-active);
    cursor: pointer;
    transition: ease-in-out 0.2s;

    &:hover {
        color: var(--color-white);
        background: var(--color-navigation-link-active);
    }

}

.active {
    color: var(--color-white);
    background: var(--color-navigation-link-active);
}