@import '../../../assets/styles/config/base.classes.scss';

.smallRoot {
    @include flex(space-between);
    flex-direction: column;
    margin-left: auto;
    margin-right: 8px;
    margin-left: 20px;

    span {
        @include mediumFont(16px, 38px)
    }

    .button {
        width: 24px;
        height: 24px;

        img {
            width: 50%;
        }
    }
}

.root {
    @include flex(space-between);
    flex-direction: column;
    margin-left: auto;
    margin-right: 24px;

    span {
        @include mediumFont(24px, 38px)
    }
}

// .button {
    //     @include flex();
    //     width: 45px;
    //     height: 45px;
    //     border: 1px solid var(--color-black);
    //     cursor: pointer;

    //     &:disabled {
    //         cursor: not-allowed;

    //         &:hover {
    //             img {
    //                 scale: 1;
    //             }
    //         }
    //     }

    //     img {
    //         transition: ease-in-out 0.2s;
    //     }

    //     &:hover {
    //         img {
    //             scale: 1.5;
    //         }
    //     }

    // }