@import '../../../assets/styles/config/base.classes.scss';
@import '../../../assets/styles/config/vars.scss';

.root {}

.title {
    @include boldFont(18px, 18px, '', $robotoFont);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.item {
    @include boldFont(24px, 18px, '');
    margin-bottom: 25px;
}

.smallItem {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 10px;
}