@import '../../../assets/styles/config/base.classes.scss';
@import '../../../assets/styles/config/vars.scss';

.root {
    margin-bottom: 25px;
}

.title {
    @include boldFont(18px, 18px, '', $robotoFont);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.smallTitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.list {
    @include flex(flex-start);
}

.item,
.itemColor {
    @include flex();
    max-width: 63px;
    max-height: 45px;
    border: 1px solid var(--color-black);
    margin-right: 12px;
    cursor: pointer;

    .itemSpan {
        padding: 5px;
    }

    span {
        text-align: center;
        @include flex();
        padding: 13px 27px;
        @include regularFont(16px, 18px, '', $sourceSansPro);
    }

    &:last-child {
        margin-right: 0;
    }
}

.itemColor {
    border: 0;
    width: 32px;
    height: 32px;
}

.smallItemColor {
    width: 16px;
    height: 16px;
}

.active {
    color: var(--color-white);
    background: var(--color-black);
}

.activeColor {
    position: relative;
    background-clip: padding-box;

    &::after {
        position: absolute;
        content: '';
        top: -4px;
        left: -4px;
        bottom: -4px;
        right: -4px;
        border: 1px solid var(--color-light-green);
    }
}

.itemNotSelectable {
    cursor: not-allowed;
}