@import './assets/styles/config/nullstyle.scss';
@import './assets/styles/config/colors.css';

html {
    height: 100vh;
}

body {
    height: 100%;
    overflow-y: scroll;
    color: #1D1F22;
    position: relative;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px 80px 100px;
}