@import './assets/styles/config/nullstyle.scss';
@import './assets/styles/config/colors.css';

body {
    overflow-y: scroll;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
    margin-right: 20px;
    margin-left: 20px;
}